<h1>New Post</h1>
<form name="posts" action="." method="post" ng-submit="submitForm($event)" ng-class="{error: showError}" novalidate>
  <p>
    <label>Title</label>
    <input name="title" ng-model="post.title" required>
  </p>

  <p>
    <label>Body</label>
    <textarea name="body" ng-model="post.body" required></textarea>
  </p>

  <p>
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    <input type="submit" value="Submit">
  </p>
</form>
