<h1>All Blog Posts</h1>

<article>
  <h3><a href="#/post/3">Okay, This is the Best Post</a></h3>
  <p>A brief description of the post goes here.</p>
  <a href="#/post/3">Read more &raquo;</a>
</article>

<article>
  <h3><a href="#/post/2">An Even Better Post</a></h3>
  <p>A brief description of the post goes here.</p>
  <a href="#/post/2">Read more &raquo;</a>
</article>

<article>
  <h3><a href="#/post/1">A Really Good Blog Post</a></h3>
  <p>A brief description of the post goes here.</p>
  <a href="#/post/1">Read more &raquo;</a>
</article>