<div class="deals-detail container">
  <div class="row">
    <div class="col-md-12">
      <h1>Honey Mustard</h1>
      <p>Honey mustard is a blend of mustard and honey, typically 1:1.[28] It is commonly used both on sandwiches, and as a dip for finger foods such as chicken strips. It can also be combined with vinegar and/or olive oil to make a salad dressing.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 center">
      <h2>$1</h2>
      <button type="button" class="btn btn-success btn-lg">Buy now!</button>
      <hr>
      <p>So far, <strong>999</strong> have bought this deal. How could you blame them? Itr's <strong>$8</strong> off the original purchase price!</p>
    </div>

    <div class="col-md-8">
      <img src="/assets/poupon.jpg" class="fit">
    </div>
  </div>
</div>