<!DOCTYPE html>
<html ng-app="blog">
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <a class="navbar-brand" href="#">My Blog</a>
    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
