<h1>Challenge</h1>
<p>Validate a form using AngularJS, choosing either the <%= link_to 'moderate', moderate_index_path %> or <%= link_to 'difficult', posts_path %> implementation.</p>

<ul>
  <li>Set up this app to use AngularJS</li>
  <li>Create a style for invalid inputs</li>
  <li>Validate the form, showing when the field is invalid.</li>
  <li>BONUS: Only show the invalid style after the form is submitted.</li>
</ul>
